<div class="skip_vote">
  <%= skip_vote_open_function(pairwise_content) %>
</div>
<div id="skip_vote_reasons_<%= pairwise_content.id %>" class="skip_vote_reasons">
  <% if question %>
    <%= render :partial => 'content_viewer/pairwise_skips', :locals => {:embeded => embeded, :pairwise_content => pairwise_content, :question => question, :source => (defined?(source) ? source : '') } %>
  <% end %>
</div>
