<ul>
  <% pairwise_content.ask_skip_reasons(question.prompt).each do |reason| %>
    <%= skip_vote_link(pairwise_content, question, question.prompt, embeded, source, question.appearance_id, reason ).html_safe %>
  <% end %>
</ul>
