<div id="pairwise_<%= pairwise_content.id %>">
<div id="pairwise_main" class="pairwise_main">
  <%= render :partial => 'content_viewer/menu', :locals => {:embeded => embeded, :pairwise_content => pairwise_content, :active_tab => :prompt} %>
  <div class="pairwise_content">
      <% if pairwise_content.in_group? %>
        <div class="pairwise_body"><%= pairwise_content.parent.title %></div>
        <div class="body">
          <%= pairwise_content.parent.body.html_safe %>
        </div>
        <div class="group-item-title"><%= pairwise_content.title.html_safe %></div>
      <% else %>
        <div class="pairwise_body"><%= pairwise_content.title.html_safe %></div>
      <% end %>
      <div class="pairwise_call_for_action"><%= (pairwise_content.body || '').html_safe %></div>
      <%= render :partial => 'content_viewer/pairwise_prompts', :locals => {:embeded => embeded, :pairwise_content => pairwise_content, :question => question, :source => (defined?(source) ? source : '') } %>
      <% if embeded %>
       	<div class="footer"><%= _('Powered by') + ' ' + pairwise_content.environment.name%></div>
      <% end %>
  </div>
  <%= render :partial => 'content_viewer/pairwise_skip_vote', :locals => {:embeded => embeded, :pairwise_content => pairwise_content, :question => question, :source => (defined?(source) ? source : '') } %>

	<% if pairwise_content.allow_new_ideas? %>
    <% if user %>
      <div id="suggestions_box">
        <span><%= _('Would you like to suggest an idea?') %> </span>
        <div class="suggestion_form">
        <%= render :partial => "pairwise_plugin_profile/suggestion_form",
            :locals => {:pairwise_content => pairwise_content, :embeded => embeded, :source => source} %>
        </div>
      </div>
    <% else %>
      <%= render :partial => 'pairwise_plugin_profile/suggestion_not_logged' %>
    <% end %>
  <% end %>
</div>
</div>
